                                    /* start global  */
html,body {font-family: 'Cairo', sans-serif;max-width: 100%;overflow-x: hidden;}
img { max-width: 100%}
h2 { position: relative;margin-bottom: 70px;font-size: 35px;}
h2::after {
 content: "";
 height: 2px;
 width: 70px;
 background-color: #0075ff;
 position: absolute;
 left: 50%;
 margin-left: -30px;
 bottom: -28px;
}
.card{border-radius: 30px;}
.card h5 a {text-decoration:none;margin-right: 30px;}
.card-text {margin-top: 15px;text-align: center;font-size: 18px;}
.details button {
  background-color: #233142;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  margin: 50px 42% 70px auto;
  width: 250px;
  color:#fff;
  box-shadow: #e2e2e2;
  outline: none;
}
                                  /* end global */
                                  /* start nav bar  */
.navbar-light .navbar-toggler{border: none;}
.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(33, 150, 243,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.navbar-brand img { height: 60px;}
.nav-item { text-align: left;}
.navbar-nav .dropdown-menu{text-align:left;}
 input[type="search"]{text-align:left;}
 form  {text-align: left;}
                                  /* end nav bar  */
                                   /* start side header  */
.side-header {
background-image: url(../imgs/header-side.jpg);
background-repeat: no-repeat;
background-size: contain;
}
.side-header h1 {margin-top:126px;font-size: 3.8rem;}
                                  /* end side header  */
                                  /* start who are we  */
.who-are-we {margin-top: 50px;}

.who-are-we .part {margin-top: 50px;}
.who-are-we .part p {font-size: 25px;margin-right: 120px;margin-top: 70px;}
                                  /* end who are we  */    
                                  /* start what we offer  */
.what-we-offer {background-image: url(../imgs/we-offer.png);margin-bottom: 70px;}
.what-we-offer .card-edit {margin-top:110px;}
.what-we-offer .card-edit .card-img-top{margin: 50px auto 5px;width: 60%;} 
.what-we-offer .card-edit p {margin-bottom: 15px; font-size: 20px;}
.owl-nav {text-align: center; margin-top: 50px;outline: none;}
.owl-nav span {padding-right: 30px; font-size: 80px;outline: none;}                  
                                  /* end what we offer  */
                                  /* start our work  */

.our-work {background-image: url(../imgs/bg30-Ar1web.gif);}
.card-edit2 {margin-top:50px;position: relative;}
.card-edit2 a {position:absolute;top: 0;bottom: 0;right: 0;left: 0;z-index: 2;}
.card-edit2 .card-text {font-size: 30px;margin: 15px auto ;}
.card-edit2 .card-img-top {border-radius: 30px;}


                                    /* end our work   */
                                    /* start information  */
.information{margin-top:70px}
.information .details button {margin:0 25px 0 0;width:105px;;padding: 12px;text-align: right;}
.information .group {margin-right:-20px;text-align: left;margin-top: 20px;font-size: 25px;}
.information i span { color: #aaa;font-size: 24px;}
.information .card-img-top {border-radius: 30px;}
.information .card-edit3 {
  margin:50px auto 0  ;
  border: 1px solid #e2e2e2;
  box-shadow: 5px 5px 5px #e2e2e2;
  padding-bottom: 10px; 
}
.information .more {
  background-color: #233142;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  margin: 50px auto 100px auto;
  width: 200px;
  color:#fff;
  box-shadow: #e2e2e2;
}
                                        /* end information  */
                                        /* start our clients  */

.our-clients {
  background-image: url(../imgs/our-client-bg.jpg);
  background-size: cover; 
  margin-top: 50px;
  background-position: bottom;
} 
.our-clients .owl-clients img {width:10rem;}
 .our-clients .owl-clients .owl-nav { margin-bottom: 50px;}
                                        /* start our clients  */
                                       /* start footer  */
.footer {
  background-image: url(../imgs/footer.jpg);
  background-size: cover;
  background-position: bottom;
}
.footer .first img {margin: 80px -40px -15px 0px;height: 60%;}
.footer .second {margin-top: 240px;}
.footer .second img {height: 85px;margin-bottom: 25px;} 
.footer .second p {color:#fff;font-size: 22px;font-weight: normal;}
.footer i {margin: 15px;color: #FFF;}
                                    /* end footer  */



                                    /*start media  */

@media (max-width: 768px) { 
  .side-header h1{font-size: 2.8rem;}
  .who-are-we .part p {font-size: 18px;margin-top: 40px;margin-bottom: 50px;}
  .card h5 a {font-size: medium;}
  .details button {margin: 50px 26% 70px auto;}
  .information .group {margin-top: -35px;}
  .our-clients .owl-clients img {margin: 60px auto 0;}
  .our-work {background-size: 100% 100%;}
}


  @media (min-width:1000px) {.our-clients .owl-clients img {margin: 150px auto 0;}}
