html,body {font-family: 'Cairo', sans-serif;max-width: 100%;overflow-x: hidden;}
/* start nav bar  */
.navbar-light .navbar-toggler{border: none;}
.navbar-light .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(33, 150, 243,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.navbar-brand img { height: 60px;}
.nav-item { text-align: left;}
.navbar-nav .dropdown-menu{text-align:left;}
input[type="search"]{text-align:left;}
form  {text-align: left;}
                                    /* end nav bar  */
                                    
                                    
                                    
                                    /* start windows   */
.card{border-radius: 30px;}
.card-text {margin-top: 15px;text-align: center;font-size: 18px;}
.windows {background-image: url(../imgs/bg30-Ar1web.gif);}
.windows .work-head {margin: 30px 15px 50px 0;}
.windows .work-head h2 { position: relative;font-size: 22px;font-weight: bold;margin-right: 30px; }
.windows .work-head h2::before {
    content: "";
    height: 50px;
    width: 5px;
    background-color: #3aade6;
    position: absolute;   
    right: -25px;   
    bottom: -10px;  
}
.windows .card-edit4 {
    border-radius:18px;
    width:75%;
    margin:10px auto 30px;
    padding: 20px 0 ;
    box-shadow: 5px 5px 5px #d4d4d4;
}
.windows .card-edit4 .card-img-top {
    border-radius: 30px;
    width:50%;
    margin:30px auto ;
} 
.windows .card-edit4 .card-text {margin:10px auto 20px ;line-height: 2.8;width: 85%;font-size: 20px;}


                                       /* start footer  */
.footer {
background-image: url(../imgs/footer.jpg);
background-size: cover;
background-position: bottom;
}
.footer .first img {margin: 80px -40px -15px 0px;height: 60%;}
.footer .second {margin-top: 240px;}
.footer .second img {height: 85px;margin-bottom: 25px;} 
.footer .second p {color:#fff;font-size: 22px;font-weight: normal;}
.footer i {margin: 15px;color: #FFF;}
                                        /* end footer  */
@media (max-width: 768px) {
    .windows .card-edit4 .card-text{line-height: 1.8;font-size: 10px;}
    .windows .work-head h2 {font-size: 18px;}
}